/*
 * Copyright (c) 2026
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/lora_lbm/sx126x.h>

/ {
	chosen {
		zephyr,lora-transceiver = &lora_semtech_sx126xmb2xxs;
	};

	aliases {
		lora-transceiver = &lora_semtech_sx126xmb2xxs;
	};

	app_cli_ui_longpress: app-cli-ui-longpress {
		compatible = "zephyr,input-longpress";
		status = "disabled";
		input = <&{/buttons}>;
		input-codes = <INPUT_KEY_0>;
		long-codes = <INPUT_KEY_POWER>;
		long-delay-ms = <2000>;
	};
};

&target_led0 {
	status = "okay";
};

arduino_spi: &spi00 {
	status = "okay";
};

lora_semtech_sx126xmb2xxs: &sx1262 {
	compatible = "semtech,sx1262-new";
	/delete-property/ dio2-tx-enable;
	dio2-as-rf-switch;
	reg-mode = <SX126X_REG_MODE_DCDC>;
	rx-boosted;
	/* DIO3 powers ANT_SW/RF switch VDD on the devkit. */
	dio3-output-voltage = <SX126X_TCXO_SUPPLY_3_3V>;
};

&npm1300_charger {
	thermistor-ohms = <0>;
	charging-enable;
};
