/*
 * Copyright (c) 2026
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/lora_lbm/sx126x.h>

/ {
	chosen {
		zephyr,lora-transceiver = &lora_semtech_sx126xmb2xxs;
	};

	aliases {
		lora-transceiver = &lora_semtech_sx126xmb2xxs;
	};

	app_cli_ui_longpress: app-cli-ui-longpress {
		compatible = "zephyr,input-longpress";
		input = <&buttons>;
		input-codes = <INPUT_KEY_ENTER>;
		long-codes = <INPUT_KEY_POWER>;
		long-delay-ms = <2000>;
	};
};

&usr_btn {
	gpios = <&xiao_d 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	label = "Sidewalk Button";
	zephyr,code = <INPUT_KEY_ENTER>;
};

&i2c22 {
	status = "disabled";
};

&gpio1 {
	wio_sx1262_rf_sw_high {
		gpio-hog;
		gpios = <11 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "wio-sx1262-rf-sw";
	};
};

arduino_spi: &spi00 {
	status = "okay";
	cs-gpios = <&xiao_d 4 GPIO_ACTIVE_LOW>;

	lora_semtech_sx126xmb2xxs: lora@0 {
		compatible = "semtech,sx1262-new";
		reg = <0>;
		spi-max-frequency = <DT_FREQ_M(8)>;

		reset-gpios = <&xiao_d 2 GPIO_ACTIVE_LOW>;
		busy-gpios = <&xiao_d 3 GPIO_ACTIVE_HIGH>;
		dio1-gpios = <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		dio2-as-rf-switch;

		dio3-as-tcxo-control;
			tcxo-voltage = <SX126X_TCXO_SUPPLY_1_8V>;
		tcxo-wakeup-time = <5>;

		reg-mode = <SX126X_REG_MODE_LDO>;

	};
};
